/* External CSS */
/* .button{
    background-color: rgb(145, 145, 35);
    
}
.button:hover{
    background-color: aqua;
} */

/* .button{
    background-color: rgb(216, 216, 217);
    display: inline;
    border: 1px solid black;
    padding: 0.3rem;
    border-radius: 10px;
}
.button:active{
    background-color: blueviolet;
}

.inp:checked{
    background-color: brown;
    padding: 50px;
} */

*

