* {
  margin: auto;
  padding: 0;
  font-family: verdana, Helvetica;
}

.box-profil {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profil, .box-profil, .box {
  text-align: center;
}

.profil img {
  width: 120px;
  border-radius: 50%;
  margin: 20px;
}

.profil p {
  letter-spacing: 0.5px;
  word-spacing: 3px;
  line-height: 1.5;
  font-size: 15px;
  background-color: #e9dcf7;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

.space {
  display: flex;
  justify-content: center;
}

.box {
  max-width: 200px;
  padding: 25px;
  margin: 20px;
  border-radius: 50px;
  font-size: 15px;
  border: 2px solid #5d558f;
}

.box h2 {
  margin-bottom: 10px;
  color: rgb(85, 69, 128);
}
